<div class="login-container" style="width: 50vw; height: auto;">
    <h1 style="font-size:24px" class="input-field">Welcome to the Dashboard</h1>
    <h3 class="input-field" style="margin-bottom: 20px; font-size:20px;">Hello, {{ user.username }}!</h3>
    <a class="login-button"  href="/">Logout</a>
</div>


