<div class="login-container">
    <h1>Login</h1>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Enter User Name" class="input-field" required>
        <input type="password" name="password" placeholder="Enter Your Password" class="input-field" required>
        <button type="submit" class="login-button">Login</button>
    </form>
    <p>if not have an account? <a href="/signup.hbs">Signup</a></p>
</div>